.about-page {
	.black {
		background: #111;
		color: #fff;
		padding: 45px 0 1px 0;
		margin-bottom: 45px;
	}

	.row-skills a,
	strong {
		color: #207dff;
	}

	.about-image {
		text-align: center;
		margin: 20px 0;

		img {
			box-shadow: 5px 5px 5px 0px #b4bfbd;
		}
	}

	.about-row {
		margin-bottom: 45px;
		display: flex;
	}

	.col-title {
		font-size: 2.2rem;
		font-weight: 700;
		flex-basis: 300px;
	}

	.sub-row-title {
		font-size: 1.7rem;
		font-weight: 600;
		margin-bottom: 10px;
		margin-top: 6px;
	}

	.col-body {
		flex: 1;
		line-height: 150%;
	}

	.sub-row {
		margin-bottom: 25px;
	}

	.me-row {
		h3 {
			font-size: 1.8rem;
		}
		h4 {
			font-size: 1.4rem;
		}
		h5 {
			font-size: 1.2rem;
			line-height: 2.4rem;
			margin-top: 5px;
		}
	}

	.connect-icons {
		margin-top: 8px;
	}
}

@media screen and (max-width: 768px) {
	.about-page {
		.about-row {
			flex-direction: column;
		}
		.col-title {
			flex-basis: auto;
			margin-bottom: 10px;
		}
	}
}
