.about-page {
	.about-image {
		padding: 25px;
		text-align: center;
		margin-bottom: 20px;

		img {
			box-shadow: 5px 5px 5px 0px #b4bfbd;
		}
	}

	.about-row {
		margin-bottom: 25px;
	}

	.col-title {
		font-size: 2.2rem;
		font-weight: 700;
		flex-basis: 300px;
	}

	.sub-row-title {
		font-size: 1.7rem;
		font-weight: 600;
		margin-bottom: 10px;
	}

	.col-body {
		flex: 1;
		line-height: 150%;
	}

	.sub-row {
		margin-bottom: 25px;
	}

	.about-row {
		display: flex;
	}
}

@media screen and (max-width: 768px) {
	.about-page {
		.about-row {
			flex-direction: column;
		}
		.col-title {
			flex-basis: auto;
			margin-bottom: 10px;
		}
	}
}
