.contact-page {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1;

	.container {
		flex: 1;
	}
	.row {
		padding-top: 25px;
		padding-bottom: 15px;
		display: flex;
	}

	.col-form {
		width: 40%;
		margin-right: 5%;
	}
	.col-contact {
		width: 55%;
	}

	.form-label {
		font-weight: 700;
		display: block;
		margin-bottom: 10px;
	}

	form textarea,
	form input {
		padding: 0.8em 0.6em;
		outline: 0;
		margin-bottom: 25px;
		width: 100%;
		border: 1px solid #ddd;
	}

	.contact-title {
		font-weight: 700;
		font-size: 2rem;
		margin-bottom: 15px;
	}

	.title-sub {
		margin: 1em 0;
	}
}

@media screen and (max-width: 650px) {
	.contact-page {
		.row {
			flex-direction: column;
		}

		.col-form {
			margin: 0 0 25px 0;
			width: 100%;
		}

		.col-contact {
			width: 100%;
		}
	}
}
