@import './variables';

.navigation {
	color: $dark-text;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	flex-shrink: 0;
	align-items: center;
	z-index: 2;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
		0 3px 1px -2px rgba(0, 0, 0, 0.2);

	.nav-title {
		opacity: 0;
		font-size: 1.7rem;

		.light {
			font-weight: 300;
		}
	}

	.nav-title,
	.nav-links a {
		animation-name: moveTop;
		animation-duration: 0.8s;
		animation-fill-mode: forwards;
		animation-delay: 0.1s;
	}

	.nav-links {
		flex: 1;
		text-align: right;

		a {
			opacity: 0;
			text-transform: uppercase;
			padding: 0 5px;
			margin-right: 20px;
			text-decoration: none;
			position: relative;
			display: inline-block;
			letter-spacing: 1px;

			&:hover,
			&:focus {
				outline: none;
			}

			&::before,
			&::after {
				display: inline-block;
				opacity: 0;
				transition: transform 0.3s, opacity 0.2s;
			}

			&::before {
				margin-right: 10px;
				content: '[';
				transform: translateX(20px);
			}

			&::after {
				margin-left: 10px;
				content: ']';
				transform: translateX(-20px);
			}

			&:hover::before,
			&:hover::after,
			&:focus::before,
			&:focus::after {
				opacity: 1;
				transform: translateX(0);
			}

			&:first-child {
				animation-delay: 0.4s;
			}

			&:nth-child(2) {
				animation-delay: 0.8s;
			}

			&:nth-child(3) {
				animation-delay: 1.2s;
			}
		}
	}
}

@media screen and (max-width: 810px) {
	.navigation {
		flex-direction: column;

		.nav-links {
			width: 100%;
			text-align: center;

			a {
				width: 33%;
				margin-right: 0;
			}
		}

		.nav-title a,
		.nav-links a {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}
