// Colors
$primary-dark: #00796b;
$primary-mid-2: #009688;
$primary-mid: #44a08d;
$primary-light: #b2dfdb;
$text-gray: #c1c1c1;
$text-white: #ffffff;
$text-card-gray: #666;
$error: #e04231;

// COLORS
$norm-text: #333;
$dark-text: #111;

// Fonts
$regular-font: "raleway", "roboto", "Helvetica Neue", Helvetica, Arial,
	sans-serif;
