// Colors
$primary-dark: #00796b;
$primary-mid-2: #009688;
$primary-mid: #44a08d;
$primary-light: #b2dfdb;
$text-gray: #c1c1c1;
$text-white: #ffffff;
$text-card-gray: #666;
$off-black: #333;
$error: #e04231;

// Fonts
$regular-font: 'robotoregular', Helvetica, Arial, sans-serif;
$heavy-font: 'robotomedium', Helvetica, Arial, sans-serif;
