.welcome-page {
	position: relative;
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: row;

	.col {
		flex-basis: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.col-picture {
		padding: 10px;
		img {
			display: inline-block;
			margin: 45px 25px;
			max-height: 60vh;
			box-shadow: 19px 20px 0px rgba(0, 0, 0, 0.98);
		}
	}

	.col-content {
		clip-path: polygon(180px 0, 100% 0, 100% 100%, 0 100%);
		flex-basis: calc(50% + 180px);
		background-color: #111;
		text-align: left;

		.text-wrapper {
			color: #fff;
			margin-left: 90px;

			h1 {
				font-weight: 300;
				font-size: 2.5rem;
			}

			h2 {
				font-weight: 400;
			}

			.white-ghost {
				margin-top: 20px;
				border-color: #fff;

				&:hover {
					background-color: #fff;
					color: #111;
				}
			}
		}

		.from-right > * {
			opacity: 0;
			animation: 0.7s fromRight forwards ease-in-out;
			animation-delay: 0.05s;
		}

		.from-right h2 {
			animation-delay: 0.34s;
		}

		.from-right .white-ghost {
			animation-delay: 0.5s;
		}
	}
}

@media screen and (max-width: 850px) {
	.welcome-page {
		flex-direction: column;

		.col-content {
			text-align: center;
			clip-path: polygon(0 90px, 100% 0, 100% 100%, 0 100%);
			padding-top: 75px;
			.text-wrapper {
				margin: 35px;
			}
		}
	}
}

@keyframes fromRight {
	0% {
		transform: translateX(85px);
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
